[Feature]: Support deterministic encoding and decoding (DAG-CBOR)

### Is there an existing issue for this?

- [x] I have searched the existing issues

### Description

one of the requirements of DAG-CBOR is that deterministic encoding and decoding, such that data round trips identically, must be supported. It would be good to implement this guarantee of determinism/round tripping via some attribute on structs or maybe in the encode/decode functions.

See also [here](https://ipld.io/specs/codecs/dag-cbor/spec/#strictness) and [here](https://datatracker.ietf.org/doc/html/rfc8949#name-deterministically-encoded-c)

### Acceptance Criteria

Passing tests with conformance against at least section 4.2 of RFC8949 and, if willing, additional tests to cover any additional strictness imposed by DAG-CBOR.

### Suggestions for a technical implementation

See also https://github.com/ipld/serde_ipld_dagcbor