Support BigFloat

I just learned about this project after I asked the same question on serde_cbor. RFC 8949 section 3.4.4 specifies BigFloat. What do you think of implementing this using rust-decimal? If not, since this crate does support BigNum via u128, is there a serde macro that would allow me to run my own function to scale/unscale these big decimals?

I would accept a patch to implement this.

I don't have the time to provide a patch right now, but this is what I'm using as a quick and dirty workaround:

```rust
           .and_then(|v: ciborium::value::Value| {
               // Workaround for https://github.com/enarx/ciborium/issues/21
               use ciborium::value::Value::{Tag, Array, Integer};
               match v {
                   Tag(5, b) => {
                       match b.as_ref() {
                           Array(v) => match v.as_slice() {
                               [Integer(v1), Integer(v2)] => {
                                   let mantissa = i32::try_from(*v1)
                                       .map_err(|_| "Mantissa exceeds i32 range")?
                                        as f32;
                                   let exponent = i32::try_from(*v2)
                                       .map_err(|_| "Exponent exceeds i32 range")?;
                                   Ok((2.0f32).powi(exponent) * mantissa)
                               },
                               _ => Err("Bigfloat tags array of wrong length"),
                           }
                           _ => Err("Bigfloat should tag array"),
                       }
                   }
                   _ => Err("Parsed but not a bigfloat"),
               }
           })
```

It's not pretty enough to even serve as a base for a patch (for this should be parsed right away rather than resulting in an allocated Value), but if someone finding this merely needs Something That Works Quickly, here you go. (Snippet published under terms of CC0 or whatever ciborium's license currently is, at your choice, in case the latter is not obvious from being code sent to a licensed project's issue).